.footer{
    background-color: #6637c2;
    border-radius: 10px ;
    color: #fcfcfc !important;

    h3{
        color: #fffcab;
        font-weight: heavy;
    }

    .footer-right{
        ul{
            li{

                a{
                    color: #fcfcfc !important;
                    font-weight: bold;

                }
            }
        }
    }


    .footer-left{
        align-content: flex-start;
        .social{

            .icon{
                font-size: 32px;

                &:hover{
                    color:  #51d4fc !important;
                }
                
            }
        }

    }
}

li{
    margin: 4px 0;
}

@media only screen and (max-width: 540px){
    .footer{
        padding: 32px;
    }
}



